html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 chat.io
        div
            input(type="text", name="nickname")
            input(type="submit", value="Submit")
        div
            input#messageInput(type="text", name="message")
            input#sendButton(type="submit", name="sendButton" value="Send")
            div
                ul
                    each received in messages
                        li= received

    block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.dev.js")
        script(src="static/js/chat.js")
        